Source: ros-lunar-gazebo-dev
Section: misc
Priority: extra
Maintainer: John Hsu <hsu@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: http://gazebosim.org/tutorials?cat=connect_ros
Standards-Version: 3.9.2

Package: ros-lunar-gazebo8-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgazebo8-dev
Conflicts: ros-lunar-gazebo-dev, ros-lunar-gazebo6-dev, ros-lunar-gazebo7-dev
Conflicts: ros-lunar-gazebo-dev
Description: Provides a cmake config for the default version of Gazebo for the ROS distribution.
